@tailwind base;
@tailwind components;
@tailwind utilities;

#paralelograma {
  -webkit-transform: skew(-23deg);
  -moz-transform: skew(-23deg);
  -o-transform: skew(-23deg);
}

#paralelograma-botton {
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skews(-20deg);
}

.brackgound-image {
  background-image: url("../../public/background.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top left;
}

.grow {
  animation: grow 2s ease normal;
}
@keyframes grow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.hithere {
  animation: hithere 1s ease infinite;
}
@keyframes hithere {
  30% {
    transform: scale(1.2);
  }
  40%,
  60% {
    transform: rotate(-20deg) scale(1.2);
  }
  50% {
    transform: rotate(20deg) scale(1.2);
  }
  70% {
    transform: rotate(0deg) scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.bounce2 {
  animation: bounce2 2s ease infinite;
}
@keyframes bounce2 {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.hinge {
  animation: hinge 2s ease normal;
}
@keyframes hinge {
  0% {
    transform: rotate(0);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }
  20%,
  60% {
    transform: rotate(80deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }
  40% {
    transform: rotate(60deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }
  80% {
    transform: rotate(60deg) translateY(0);
    opacity: 1;
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: translateY(700px);
    opacity: 0;
  }
}

.flip {
  backface-visibility: visible !important;
  animation: flip 2s ease normal;
}
@keyframes flip {
  0% {
    transform: perspective(2000px) rotateY(0);
    animation-timing-function: ease-out;
  }
  40% {
    transform: perspective(2000px) translateZ(150px) rotateY(170deg);
    animation-timing-function: ease-out;
  }
  50% {
    transform: perspective(2000px) translateZ(150px) rotateY(190deg) scale(1);
    animation-timing-function: ease-in;
  }
  80% {
    transform: perspective(2000px) rotateY(360deg) scale(0.95);
    animation-timing-function: ease-in;
  }
  100% {
    transform: perspective(2000px) scale(1);
    animation-timing-function: ease-in;
  }
}
